
header {
    margin-top: 50px;
    min-height: 200px;
   
  }

header:before {
    background-image: none;
}

.daniel {
    background-image: url('../images/daniel-salgado-MF2KORFe1OE-unsplash.jpg');
    
}

section {
    min-height: 200px;
    padding: 0% 10%;
    background-color: #84a9d9;
    
  }
  
  section:nth-child(even) {
    background-color: #b2bf4b;
  }

@media screen and (min-width: 600px) {
    header {
        background-repeat: no-repeat;
        background-position: center;
        
    }

    header:before {
        background-image: url('../images/DivineWinesdesktopbanner.png')
    }

    .daniel {
        background-image: none;
    }

    .section-container {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
        margin-left: 18%;
        align-items: center;
    }

    section {
        width: 30%;
        height: 30vh;
        font-size: 14px;
        padding: 5px;
        margin-right: 5px;
    }

    .landing-section:nth-child(even) {
        margin-left: -10% !important;
    }

    section h2 {
        font-size: 1.1rem;
    }

    .signup-section {
        margin: 0 auto;
        margin-top: 5px;
        padding-top: 10px;
        background-color: #f2dea0;
    }

}
