header {
    position: relative;
    background: #f2dea0;
    overflow: hidden;
    margin-top: 50px;
    min-height: 200px;
}

header:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.4;
    background-image: url('../images/ales-me-z0bACVUDTJM-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: auto;
}

h1 {
    position: relative;
    z-index: 999;
}

label {
    font-weight: bold;
    margin-right: 10px;
    text-transform: uppercase;
    color: #fff;
}


.bottom-buttons {
    display: flex;
    align-items: center;
}


@media screen and (min-width: 600px) {

    header:before {
        background-image: url('../images/DivineWinesdesktopbanner.png')
    }

    section {
        width: 60%;
        margin: 0 auto; 
    }

    .edit-form {
        background-color: #498c66 !important;
    }

    #edit-form {
        margin: 0 auto;
        margin-left: 5%;
        width: 60%;
    }

    #name {
        width: 500px;
        margin-left: -15px;
    }

    .bottom-buttons {
        display: flex;
        width: 100%;
        justify-content: center;
        
    }

    input {
        max-width: 400px;
    }

    textarea {
        max-width: 400px;
    }

    .edit-form {
        background-color: #498c66 !important;
    }

    .bottom-form-buttons {
        display: flex;
        justify-content: center;
    }
}