header {
    position: relative;
    background: #f2dea0;
    overflow: hidden;
    margin-top: 50px;
    min-height: 200px;
 
}

header:before {

    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.4;
    background-image: url('../images/daniel-salgado-MF2KORFe1OE-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: auto;
}

h1 {
    position: relative;
    z-index: 999;
}

form {
    margin-top: -20px;
}

.row {
    display: flex;
    justify-content: left;
}

.row-cell {
    flex: 1;
}


.error {
    color: #bf452a;
    text-align: center;
    margin-left: -200px;
    font-weight: bold;
    
}

label {
    font-weight: bold;
    margin-right: 20px;
    text-transform: uppercase;
    color: #fff;
}

input {
    padding: 5px;
}
select {
    font-size: 12px;
 }
textarea {
    max-width: 150px;
    
}

.bottom-form-buttons button {
    background-color: #f2dea0;
    margin-right: 5px;
    color: #000;
    width: 100px;
}

.bottom-form-buttons button:hover {
    cursor: pointer;
    background-color: #b2bf4b;
}


@media screen and (min-width: 600px) {
    section {
        width: 90%;
        margin: 0 auto;
        margin-left: 20%;
        padding-left: 15%;
        height: 150vh;
    }

    form {
        margin-left: -140px;
        margin-top: -25px;
        width: 100%;
        font-size: 18px;
        padding-left: 5%;
    }

   

    .error {
        font-size: 24px;
    }

    .name-label {
        margin-left: 25px;
    }
   
    .bottom-buttons {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-left: -10%;
    }

    button {
        font-size: 16px;
      }

    textarea {
        max-width: 450px;
    }

   
}

@media screen and (min-width: 700px) {
    .name-label {
        margin-left: 0px;
    }
}