section.form-container, .directions {
    background-color: #498c66;
     font-style: italic;
     font-size: 16px;
     color: #fff;

}

form {
    padding-left: 5px;
}

.directions {
    margin: 0 auto;
}

#rating {
    width: 150px;
    margin-left: 5px;
}

.bottom-buttons {
    margin-left: -10px;
}

select {
    font-size: 12px;
 }

@media screen and (min-width: 600px) {
    section.form-container {
        width: 70%;
        margin: 0 auto;
        margin-left: 13%;
        background-color: #498c66;
    }

    .directions {
        margin-left: -60px;
    }


    #name {
        margin-left: 5px;
    }

   .search-footer {
       margin-left: -100px;
   }

}