* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  background-color: #f2dea0
}

.nav,
footer {
  padding: 5%;
  padding-bottom: 8%;
  
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  margin-top: -5px;
  height: 20px;
  justify-content: center;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    
   
}
.nav li {
    
    padding-right: 10px;
 
    font-size: 0.8rem;      
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.nav a {
  text-decoration: none;
  color: #fff;
}

.nav a:visited {
  color: #fff;
}
main {
  padding: 2% 2%;
  
}

header {
  margin-top: 20px;
  min-height: 200px;
  background-image: url('../images/kym-ellis-aF1NPSnDQLw-unsplash.jpg')
}

h1, h2 {
  font-family: 'Voltaire';
  color: #bf452a;
}


h3  {
  margin-left: 20px;
}


ul {
    list-style-type: none;
}
.directions {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 20px;
}

form {
  text-align: left;
  padding-right: 20px;
  padding-top: 20px;
}

.form-container {
  padding-top: 20px;
}


.form-section {
    padding: 15px;
    /* margin-left: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
input, textarea {
  width: 100%;
  max-width: 500px;
}

.textarea {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.textarea label {
  display: block;
}

label {
  margin-right: 5px;
}

button {
    background-color: #498c66;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    width: 100px;
    height: 60px;
    font-size: 0.8rem;
    margin-right: 2px;
    cursor: pointer;
}

button:hover {
  background-color: #ccd67c;
}

.search-result {
  padding: 10px;
  text-align: center;
 
}



.landing-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 500px) {
  .nav {
    height: 50px;
    padding: 5px;
    display: flex;
    align-items: center;
  }
  
.nav ul {
    margin: 0 auto;
    margin-top: 40px;
  }
}

@media screen and (min-width: 700px) {

  .nav {
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
  }
  .nav li {
    justify-content: left;

  }

 
}

@media screen and (min-width: 800px) {
  .nav li {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.5em;
  }
}