@media screen and (min-width: 600px) {

    .search-result {
        margin-left: -20px;
        
    }

    .search-result:nth-child(even) {
        margin-left: 5px;
    }

    .bottom-buttons {
        margin-left: -60px;
    }
}